
@{
    ViewData["Title"] = "WrongEmailOrPassword";
}

<h1>
    <h1 style="color:darkred;">Email or Password incorrect</h1>
    <div>
        <a asp-action="Index">Login Again</a>
        <a asp-action="Register">Register</a>
    </div>
</h1>

