@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the DockMano application.</h1>
    <p>A place where you can easily manage your Dockers.</p>
</div>
